<div class="col-md-4">
  <h3> Friends </h3>
  <% if @friends.blank? %>
    <h6 style="color:#dc3545;"> You currently have no friends </h5>
  <% end %>
  <% @friends.each do |friend| %>
    <div class="friend-list" id="friend-<%= friend.id %>">
      <div class="left">
        <%= image_tag friend.avatar.variant(resize: '40x40'), class: 'small-avatar' %>
        <%= link_to friend.shorten_name(20), user_path(friend.id), class: "friend-name" %>
      </div>
      <div class="right">
        <%= button_to "Unfriend",
                      friend_path(friend.id),
                      remote: true,
                      :params => { :id => friend.id },
                      method: :delete,
                      class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  <% end %>
  <hr>
</div>