<%= form_for( post.likes.build, 
              url: post_likes_path(post.id), 
              remote: true) do |f| %>
  <div><%= hidden_field_tag :user_id, current_user.id %></div>
  <%= f.submit "Like", class: "btn btn-primary btn-xs like-btn" %>
<% end %>