<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="col col-md-8 offset-md-2">
  <ul class="users">
    <%= paginate @users %>
    <%= render @users %>
    <%= paginate @users %>
  </ul>
</div>
