<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field post-writing">
    <%= f.text_area :content, placeholder: "What's on your mind today?..." %>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>