<% provide(:title, "Friend Requests") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= icon('fas', 'envelope')%> Friend Requests</h1>
      <h2><%= link_to "Your Profile", user_path(current_user) %></h2>
    </section>
  </aside>
  <div class="col-md-4">
    <h3> Received Requests </h3>
      <% @incoming.each do |rq| %>
        <div class="request-info">
          <p><%= rq.sender.name %></p>
        </div>
      <% end %>
    <hr>
  </div>
    <div class="col-md-4">
    <h3> Sent Requests </h3>
      <% @outgoing.each do |rq| %>
        <div class="request-info">
          <p><%= rq.recipient.name %></p>
        </div>
      <% end %>
    <hr>
  </div>
</div>

