$("#user-page-button").html("<%= escape_javascript(render('users/unfriend_button', user: @user)) %>");
$("#rq-btn-<%=params[:id]%>").html("<div class='right' style='padding-top: 1%'> Accepted </div>");