<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1> Timeline </h1>
    <%= render 'shared/post_form' %>
    <div class="post-wrapper-timeline">
      <%= render 'shared/post_items', posts: @feed_items %>
    </div>
  </div>
</div>