<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1> Timeline </h1>
    <%= render 'shared/post_form' %>
    <% unless @feed_items.blank? %>
      <% @feed_items.each do |post| %>
        <% unless post.id.nil? %>
          <%= render 'shared/post', post: post %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>