$gray-medium-light: #eaeaea;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Users index */

.page-item {
  border: none;
}

.pagination {
  border: none;
}

.users {
  padding-left: 0;
  list-style: none;
  margin: 0;
  .user-li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
}

/* Navbar */

.navbar {
  margin-bottom: 60px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

p {
  margin-top: initial;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: #777;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-item-friend-request {
  height: 40px;
}

.dropdown-btn {
  margin-right: 2%;
  float: right;
}

.sender-name {
  margin-top: 1%;
  float: left;
}

.dropdown-divider-special {
  margin-top: 4%;
}

.showall {
  position: relative;
  text-align: center;
}
@media (min-width: 576px) {
  .dropdown-menu-friend-request {
    width: 300px;
  }
}
/* Friend List */

.friend-list {
  width: auto;
  height: 40px;
}

.friend-name {
  position: relative;
  top: 5px;
  font-size: 1.2em;
}

.friend-info {
  font-size: 1.2em;
}

.left {
  float: left;
}

.right {
  float: right;
}

#unfriend-small {
  float: right !important; 
}

/* Like buttons */

.like-button-container {
  height: 50px;
  width: 100%;
}

.above-line {
  margin-top: 1%;
  width: 45%;
  border-top: 1px solid rgb(243, 242, 242);
}

.under-line {
  margin-bottom: 2%;
  width: 45%;
  border-top: 1px solid rgb(243, 242, 242);
}

.like-button {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.like-count {
  display: inline-block;
  font-size: 0.9em;
  vertical-align: middle;
}

.like-btn {
  border: none;
  margin: 10px 0;
}

.unlike-btn {
  border: none;
  width: auto;
  margin: 10px 0;
}

/* Post writing */

.post-writing {
  padding-left: 3.5%;
  padding-right: 3.5%;
}
/* Post section */

.delete-post-btn {
  float: right;
  width: 6%;
  background: none;
}

.post-container {
  margin-top: 3%;
  padding-bottom: 3%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border: 1px solid rgb(243, 242, 242);
}

.small-avatar {
  border-radius: 100%;
  float: left;
}

.author-info {
  height: 25px;
  margin-top: 3%;
}

.author-name {
  margin-left: 5px;
  float: left;
}

.post-time {
  padding-left: 45px;
  font-size: 0.9em;
}

.post-time-container {
  justify-items: flex-start;
}

/* Comment Section */

.comment-avatar {
  border-radius: 100%;
  float: left;
}

.commentator {
  margin-top: 3%;
  height: 30px;
}

.commentator-name {
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  margin-right: 1%;
}

.fa-comment {
  margin-top: 5px;
}

.delete-comment-btn {
  background: none;
}

.edit_comment {
  float: right;
}

.show-comments {
  margin-bottom: 2%;
}

.comment-content {
  margin-left: 5px;
  width: auto;
  background: #f7f7f7;
}

.comment-field {
  margin-top: 3%;
  height: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.comment-btn {
  margin-top: 3%;
  width: 100px;
}