<% if notice %>
  <div class="alert alert-notice col-md-8 offset-md-2">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-alert col-md-8 offset-md-2">
    <%= alert %>
  </div>
<% end %>