<li class="dropdown friend-request">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Friend Requests <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% current_user.received_friend_requests.each do |request| %>
      <div class="friend-request-list">
        <li><%= request.sender.name %>
          <div class="friend-buttons">
            <%= button_to "Accept", 
                users_accept_friend_path, 
                :params => { :sender_id => request.sender.id },
                method: :post, 
                class: 'btn btn-primary accept' %>
            <%= button_tag "Ignore", class: 'btn btn-light ignore' %>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</li>