<li class="dropdown user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Account <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to icon('fas', 'user-alt') + " Profile", current_user %></li>
    <li><%= link_to icon('fas', 'user-friends') + " Friends", friends_path %></li>
    <li><%= link_to icon('fas', 'cog') + " Settings", edit_user_registration_path(current_user) %></li>
    <li class="divider"></li>
    <li>
      <%= link_to icon('fas', 'sign-out-alt') + " Log out", 
          destroy_user_session_path , 
          method: :delete, 
          id: 'logout-button' %>
    </li>
  </ul>
</li>